<div class="text-center row">
  <div class="space-bar"></div>
  <%= form_tag rootwords_path, role: 'form', class: 'form-inline', id: 'root_word' do %>

      <div class="form-group col-sm-3">
        <label class="text-right col-sm-3 visible-lg visible-md">Word</label>

        <div class="col-sm-9">
          <%= text_field :root_word, :word, placeholder: 'root word', title: 'root word', required: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group col-sm-3">
        <label class="pull-left text-right col-sm-4 visible-lg visible-md">Meaning</label>

        <div class="col-sm-8">
          <%= text_field :root_word, :meaning, placeholder: 'meaning', title: 'meaning', required: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group col-sm-4">
        <label class="pull-left text-right col-sm-3 visible-lg visible-md">Usage</label>

        <div class="col-sm-9">
          <%= text_field :root_word, :usages, placeholder: 'usages', title: 'usages', required: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-block btn-primary">Add</button>
        </div>
      </div>
  <% end %>
</div>
<div class="space-bar"></div>
<div class="space-bar"></div>

