<div class="container">
  <div class="space-bar"></div>
  <div class="page-header">
    <h1>Admin dashboard
      <small>Add root and other words</small>
    </h1>
  </div>


  <ul class="nav nav-tabs">
    <li class="active"><a href="#root_words" data-toggle="tab">Root Words</a></li>
    <li><a href="#non_root_words" data-toggle="tab">Non Root Words</a></li>
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="root_words">
      <div class="space-bar"></div>

      <div class="row">
        <div class="col-sm-12">
          <%= render partial: 'new_root_word_form' %>
        </div>
      </div>

      <div class="row">
        <%= render partial: 'root_words_table' %>
      </div>

    </div>

    <div class="tab-pane" id="non_root_words">
      <div class="space-bar"></div>
      <div class="row">
        <div class="col-sm-12">
          <%= render partial: 'new_non_root_word_form' %>
        </div>
      </div>

      <div class="row">
        <%= render partial: 'non_root_words_table' %>
      </div>
    </div>
  </div>
</div>