<div class="modal fade" id="rootword-modal" tabindex="-1" role="dialog" aria-labelledby="RootWord" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Root Word</h4>
      </div>
      <div class="modal-body">


        <div class="row ">
          <label class="col-sm-4 col-xs-4 text-right">Word:</label>

          <div class="col-sm-5 col-sm-offset-1">
            <h1 data-rootword="word"></h1>
          </div>
        </div>

        <div class="row ">
          <label class="col-sm-4 col-xs-4 text-right">Meaning:</label>

          <div class="col-sm-5 col-sm-offset-1">
            <h2 data-rootword="meaning"></h2>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-4 col-xs-4 text-right">Usages:</label>

          <div class="col-sm-5 col-sm-offset-1">
            <ul class="list-unstyled usages-list" data-rootword="usages">
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->